## Lesson 5 - Logic, Loops, Lists, Tuples, and Dictionaries

* Shaw Exercises 27-39
* Lutz Chapters 8-13

### Logic

#### Boolean Operations -- and, or, not

These are the Boolean operations, ordered by ascending priority:

Operation |	Result	 
----------|-------
x or y	  |  if x is false, then y, else x       
x and y	  |  if x is false, then x, else y        
not x	  |  if x is false, then True, else False


#### Comparisons

Comparison operations are supported by all objects. They all have the same priority (which is higher than that of the Boolean operations). Comparisons can be chained arbitrarily; for example, `x < y <= z` is equivalent to `x < y and y <= z`, except that `y` is evaluated only once (but in both cases `z` is not evaluated at all when `x < y` is found to be false).

This table summarizes the comparison operations:

Operation | Meaning
----------|--------
<	      | strictly less than	
<=	      | less than or equal	
>	      | strictly greater than	
>=	      | greater than or equal	
==	      | equal	
!=	      | not equal
is	      | object identity	
is not	  | negated object identity

In [1]:
(2 == 1 + 1) and ('ab' == 'a' + 'b')

True

In [2]:
(5 > 4) or (2 < 1)

True

In [3]:
'aa' is 'aa'

True

In [4]:
5 is 5.0

False

In [5]:
5 == 5.0

True

In [6]:
5 != 5.0

False

### Loops

#### if Tests

	if <test1>:                 # if test
	    <statements1>           # Associated block
	elif <test2>:               # Optional elifs
	    <statements2>
	else:                       # Optional else
	    <statements3>

#### while Loops

	while <test>:               # Loop test
	        <statements1>       # Loop body
	    else:                   # Optional else
	        <statements2>       # Run if didn't exit loop with break
	
	while <test1>:
	    <statements1>
	    if <test2>: break       # Exit loop now, skip else
	    if <test3>: continue    # Go to top of loop now, to test1
	else:
	    <statements2>           # Run if we didn't hit a 'break'
	
	break -- Jumps out of the closest enclosing loop (past the entire loop 
	  statement).
	continue -- Jumps to the top of the closest enclosing loop (to the loop’s 
	  header line).
	pass -- Does nothing at all: it’s an empty statement placeholder.
	else (loop block) -- Runs if and only if the loop is exited normally 
	  (i.e., without hitting a break).

#### for Loops

	for <target> in <object>:   # Assign object items to target
	    <statements>            # Repeated loop body: use target
	else:
	    <statements>            # If we didn't hit a 'break'
	
	for <target> in <object>:   # Assign object items to target
	    <statements>
	    if <test>: break        # Exit loop now, skip else
	    if <test>: continue     # Go to top of loop now
	else:
	    <statements>            # If we didn't hit a 'break'

In [7]:
for i in range(5):
    if i in [1, 2]:
        print("It's 1 or 2.")
    elif i in [3, 4]:
        print("It's 3 or 4.")
    else:
        print("It must be 0.")
        #break

It must be 0.
It's 1 or 2.
It's 1 or 2.
It's 3 or 4.
It's 3 or 4.

In [8]:
j = 0
while j < 5:
    print(j)
    j += 1
    #if j == 4:
        #break
else:
    print('All done.')

0
1
2
3
4
All done.

### Lists

In [9]:
# A list of three different-type objects 
L = [123, 'spam', 1.23]
L

[123, 'spam', 1.23]

In [10]:
# Number of items in the list
len(L)

3

In [11]:
# Indexing by position
L[0]

123

In [12]:
# Slicing a list returns a new list
L[:-1]

[123, 'spam']

In [13]:
# Concatenation makes a new list too
L + [4, 5, 6]

[123, 'spam', 1.23, 4, 5, 6]

In [14]:
# We're not changing the original list
L

[123, 'spam', 1.23]

In [15]:
# Growing: add object at end of list
L.append('NI') 
L

[123, 'spam', 1.23, 'NI']

In [16]:
# Shrinking: delete an item in the middle
L.pop(2)

1.23

In [17]:
L

[123, 'spam', 'NI']

In [18]:
M = ['bb', 'aa', 'cc']

In [19]:
M

['bb', 'aa', 'cc']

In [20]:
M.sort()

In [21]:
M

['aa', 'bb', 'cc']

In [22]:
M.reverse()

In [23]:
M

['cc', 'bb', 'aa']

In [24]:
# Nested lists
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

In [25]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
M[1]

[4, 5, 6]

In [27]:
M[1][2]

6

#### More list indexing

In [28]:
x = list(range(10))

In [29]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
x[0:5]

[0, 1, 2, 3, 4]

In [31]:
x[:5]

[0, 1, 2, 3, 4]

In [32]:
x[-5:]

[5, 6, 7, 8, 9]

In [33]:
x[2:5]

[2, 3, 4]

#### List comprehension (with for loops)

In [34]:
# Collect the items in column 2
col2 = [row[1] for row in M]

In [35]:
col2

[2, 5, 8]

In [36]:
M2 = [row[1] + 1 for row in M] # Add 1 to each item in column 2

In [37]:
M2

[3, 6, 9]

In [38]:
# Filter out odd items
M3 = [row[1] for row in M if row[1] % 2 == 0]

In [39]:
M3

[2, 8]

In [40]:
# Collect a diagonal from matrix
diag = [M[i][i] for i in [0, 1, 2]]

In [41]:
diag

[1, 5, 9]

In [42]:
doubles = [c * 2 for c in 'spam']

In [43]:
doubles

['ss', 'pp', 'aa', 'mm']

In [44]:
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]

In [45]:
squares

[1, 4, 9, 16, 25]

In [46]:
# For loop version of above list comprehension
squares = []
for x in [1, 2, 3, 4, 5]:
    squares.append(x ** 2)

In [47]:
squares

[1, 4, 9, 16, 25]

### Tuples

Tuples are similar to lists with two important differences:

1. Tuples are immutable, meaning they cannot be changed in place or appended to.
2. Tuples can be composed of mixed types of objects, whereas lists should contain a single kind of object.

In [48]:
T = (1, 2, 3, 4)

In [49]:
T

(1, 2, 3, 4)

In [50]:
T[0]

1

In [51]:
len(T)

4

In [52]:
T + (5, 6)

(1, 2, 3, 4, 5, 6)

In [53]:
# Try to assign to a tuple
#T[0] = 2

Example on tuples vs. lists:

In [54]:
# here is a list of the same object type
["Bob", "Joe", "John", "Sam"]

['Bob', 'Joe', 'John', 'Sam']

In [55]:
# here is a list of different object types -- DON'T DO THIS
["Billy", "Bob", "Joe", 42]

['Billy', 'Bob', 'Joe', 42]

In [56]:
# use a tuple instead
[("Billy", "Bob", "Joe", 42), ("Robert", "", "Smith", 31)]

[('Billy', 'Bob', 'Joe', 42), ('Robert', '', 'Smith', 31)]

### Dictionaries

In [57]:
# Keys and values
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [58]:
D

{'color': 'pink', 'food': 'Spam', 'quantity': 4}

In [59]:
# Fetch value of key 'food'
D['food']

'Spam'

In [60]:
# Add 1 to 'quantity' value
D['quantity'] += 1

In [61]:
D

{'color': 'pink', 'food': 'Spam', 'quantity': 5}

In [62]:
D = {}

In [63]:
# Create keys by assignment
D['name'] = 'Bob'
D['job'] = 'dev'
D['age'] = 40

In [64]:
D

{'age': 40, 'job': 'dev', 'name': 'Bob'}

In [65]:
D['name']

'Bob'

In [66]:
# Nested dictionaries
rec = {'name': {'first': 'Bob', 'last': 'Smith'}, 
       'job': ['dev', 'mgr'],
       'age': 40.5}

In [67]:
rec

{'age': 40.5, 'job': ['dev', 'mgr'], 'name': {'first': 'Bob', 'last': 'Smith'}}

In [68]:
# 'name' is a nested dictionary
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [69]:
# Index the nested dictionary
rec['name']['last']

'Smith'

In [70]:
# 'job' is a nested list
rec['job']

['dev', 'mgr']

In [71]:
# Index the nested list
rec['job'][-1]

'mgr'

In [72]:
# Expand the job description in place
rec['job'].append('janitor')

In [73]:
rec

{'age': 40.5,
 'job': ['dev', 'mgr', 'janitor'],
 'name': {'first': 'Bob', 'last': 'Smith'}}

In [74]:
# Sorting keys with for loops
D = {}
D['a'] = 1
D['b'] = 2
D['c'] = 3
D['d'] = 4
D['e'] = 5

In [75]:
D

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [76]:
# iterate over dict keys (note the keys are not in insertion order)
for key in D:
    print(key,D[key])

b 2
c 3
d 4
a 1
e 5

In [77]:
# iterate over dict key-value pairs
for key, value in D.items():
    print(key,value)

b 2
c 3
d 4
a 1
e 5

In [78]:
# iterate over sorted dict keys (sorted alphabetically)
for key in sorted(D):
    print(key,D[key])

a 1
b 2
c 3
d 4
e 5

In [79]:
# Checking if key exists
D = {'a': 1, 'c': 3, 'b': 2}

In [80]:
D

{'a': 1, 'b': 2, 'c': 3}

In [81]:
D['e'] = 99

In [82]:
D

{'a': 1, 'b': 2, 'c': 3, 'e': 99}

In [83]:
'e' in D

True

In [84]:
'f' in D

False

In [85]:
if not 'f' in D:
    print('missing')

missing

In [86]:
# combine two lists into dictionary using dict(zip(list1, list2))

In [87]:
keys = ['name', 'job', 'zip_code', 'city']
values = ['Jon', 'student', '92037', 'La Jolla']

In [88]:
d = dict(zip(keys, values))

In [89]:
d

{'city': 'La Jolla', 'job': 'student', 'name': 'Jon', 'zip_code': '92037'}

### Other types

#### Sets

In [90]:
X = set('spam')
Y = set(['h', 'a', 'm'])

In [91]:
X

{'a', 'm', 'p', 's'}

In [92]:
Y

{'a', 'h', 'm'}

In [93]:
intersection = X & Y

In [94]:
intersection

{'a', 'm'}

In [95]:
union = X | Y

In [96]:
union

{'a', 'h', 'm', 'p', 's'}

In [97]:
difference = X - Y

In [98]:
difference

{'p', 's'}

#### Boolean

In [99]:
1 > 2, 1 < 2

(False, True)

In [100]:
bool('spam')

True

In [101]:
False + 1

1

In [102]:
True + 1

2

In [103]:
True == 1

True

In [104]:
True is 1

False

In [105]:
False == 0

True

In [106]:
False is 0

False

#### None

In [107]:
X = None

In [108]:
X

In [109]:
#None + 1

In [110]:
L = [None] * 10

In [111]:
L

[None, None, None, None, None, None, None, None, None, None]

In [112]:
type(L)

list

In [113]:
type(type(L))

type

### Assignment for Lesson 5

1. Create a list of 10 random integers in the range of -100 to 100. Loop through that list using a for loop. Put the positive (or zero) integers into a new list. If negative integers are encountered, print a message saying that the value is negative and printing that value.
2. Write a function that does something similar to what you did in #1 but with the following differences: the input list can be any list of numbers; the function should take as an argument the cutoff for being included in the second list; and the printed message for failing to be included should also reflect this user-defined parameter. The second list should be returned by the function.
3. Create a two-dimensional list with 3 'rows' and 4 'columns' and a mixture of strings and integers. Loop through each element of the list and check if each element is a string or an integer. Save the strings as a dictionary with the index (row, column) as the key and the string as the value; do the same for the integers in a second dictionary.
4. Create a list of 5 strings that are first and last names, e.g. `'Jon Doe'`. Use a list comprehension (a single-line command) to get the first initial from each name and store each string (e.g. `'J'`) in a new list. Repeat but store both the first and last initial (e.g. `'JD'`) in a new list. Save this second list to a text file.
5. Download this text file of past [World Series winners](https://www.dropbox.com/s/vj0lczpp0adrehf/world_series_winners.txt?dl=0). Read in the lines of the file to a list, so that each line is an element of the list. Print those lines that contain 'New York' (make sure there's not an extra newline character between each line). Use the set class to convert the list to a list of unique values. Write the output to a new file.